body {
    background-color: rgb(34, 34, 34);
    color: #000;
    font-family: verdana;
    font-size: 20px;
  }
  
  h1 {
    color: rgb(77, 77, 78);
    text-align: center;
  }
  
  
  ul 
  {
      list-style-type:circle;
  }